@import "./testimonials.scss";
@import "./footer.scss";
body {
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    @media screen and (min-width: 1024px) {
        background: url(../../images/pattern-curve.svg) bottom left no-repeat;
        background-size: 440px, cover;
        display: flex;
        justify-content: center;
        align-items: center
    }
}

// .center {
//     @media screen and (min-width: 1024px) {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         height: 70vh;
//     }
// }
:root {
    --dark-Blue: rgb(32, 32, 70);
    --grayish-Blue: rgb(186, 186, 207);
}

.wrapper {
    padding: 0 .5em;
    padding-top: 1em;
}

@mixin text {
    color: var(--dark-Blue);
    font-weight: 300;
    font-size: .6em;
    text-align: center;
    margin-bottom: 0;
}

.testimonial-text {
    @include text;
    span {
        display: block;
        text-align: center;
        // border: 1px solid red;
        font-size: .8em;
    }
    span:nth-child(1) {
        padding-top: 2em;
        font-weight: bold;
    }
    span:nth-child(2) {
        color: var(--grayish-Blue);
        margin-top: .2em;
        // border: 1px solid red;
    }
    @media screen and (min-width: 1024px) {
        text-align: left;
        position: relative;
        left: 40%;
        span {
            text-align: left;
        }
    }
}

.testimonial-text-front {
    @include text;
    padding: 0 .3em;
    span {
        display: block;
        text-align: center;
        // border: 1px solid red;
        font-size: .8em;
    }
    span:nth-child(1) {
        padding-top: 2em;
        font-weight: bold;
    }
    span:nth-child(2) {
        color: var(--grayish-Blue);
        margin-top: .2em;
        // border: 1px solid red;
    }
    @media screen and (min-width: 1024px) {
        text-align: left;
        position: relative;
        left: 40%;
        span {
            text-align: left;
        }
    }
}

.is-hidden {
    display: none;
    @media screen and (min-width: 1024px) {
        display: none !important;
    }
}

// .center {
//     @media screen and (min-width: 1024px) {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//     }
// }