.footer {
    .wave {
        background: url(../../images/pattern-curve.svg) bottom left no-repeat;
        background-size: 440px, cover;
        height: 200px;
        // border: 1px solid red;
    }
}