.testimonial {
  max-width: 850px;
  margin: 0 auto;
}
.testimonial .testimonial-content .testimonial-image {
  height: 311px;
  background: url(../../images/pattern-bg.svg) center no-repeat;
  background-size: 290px, cover;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .testimonial .testimonial-content .testimonial-image {
    background-size: 333px, cover;
  }
}
.testimonial .testimonial-content .testimonial-image .testimonial-img {
  max-width: 225px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 45px;
  box-shadow: 0 50px 70px -50px;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .testimonial .testimonial-content .testimonial-image .testimonial-img {
    max-width: 260px;
    top: 30px;
  }
}
.testimonial .testimonial-content .testimonial-image .button {
  background-color: white;
  width: 86px;
  height: 39px;
  border-radius: 30px;
  position: absolute;
  top: 80%;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.testimonial .testimonial-content .testimonial-image .button label {
  padding: 1em;
}
@media screen and (min-width: 1021px) {
  .testimonial .testimonial-content .testimonial-image .button {
    top: 87%;
    right: 25%;
  }
}
.testimonial .testimonial-content .testimonial-image .antes:hover {
  transform: scale(0.7);
  /* Igual que: scaleX(0.7) scaleY(0.7) */
}
.testimonial .testimonial-content .testimonial-image .siguente:hover {
  transform: scale(0.7);
  /* Igual que: scaleX(0.7) scaleY(0.7) */
}
.testimonial .testimonial-content .testimonial-image .antes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .testimonial-content .testimonial-image .siguente {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonial .testimonial-content .testimonial-text-content {
  background: url(../../images/pattern-quotes.svg) center top no-repeat;
  background-size: 70px;
  padding-top: 0.4em;
}
@media screen and (min-width: 1024px) {
  .testimonial .testimonial-content .testimonial-text-content {
    background-position: 220px top;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial .testimonial-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content image";
    justify-content: center;
    align-items: center;
  }
  .testimonial .testimonial-content .testimonial-image {
    grid-area: image;
  }
}
.testimonial .testimonial-content .testimonial-text-content {
  grid-area: content;
}
.testimonial input {
  display: none;
}

.footer .wave {
  background: url(../../images/pattern-curve.svg) bottom left no-repeat;
  background-size: 315px, cover;
  height: 100px;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  body {
    background: url(../../images/pattern-curve.svg) bottom left no-repeat;
    background-size: 440px, cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

:root {
  --dark-Blue: rgb(32, 32, 70);
  --grayish-Blue: rgb(186, 186, 207);
}

.wrapper {
  padding: 0 0.5em;
  padding-top: 1em;
}

.testimonial-text {
  color: var(--dark-Blue);
  font-weight: 300;
  font-size: 0.6em;
  text-align: center;
  margin-bottom: 0;
}
.testimonial-text span {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.testimonial-text span:nth-child(1) {
  padding-top: 2em;
  font-weight: bold;
}
.testimonial-text span:nth-child(2) {
  color: var(--grayish-Blue);
  margin-top: 0.2em;
}
@media screen and (min-width: 1024px) {
  .testimonial-text {
    text-align: left;
    position: relative;
    left: 40%;
  }
  .testimonial-text span {
    text-align: left;
  }
}

.testimonial-text-front {
  color: var(--dark-Blue);
  font-weight: 300;
  font-size: 0.6em;
  text-align: center;
  margin-bottom: 0;
  padding: 0 0.3em;
}
.testimonial-text-front span {
  display: block;
  text-align: center;
  font-size: 0.8em;
}
.testimonial-text-front span:nth-child(1) {
  padding-top: 2em;
  font-weight: bold;
}
.testimonial-text-front span:nth-child(2) {
  color: var(--grayish-Blue);
  margin-top: 0.2em;
}
@media screen and (min-width: 1024px) {
  .testimonial-text-front {
    text-align: left;
    position: relative;
    left: 40%;
  }
  .testimonial-text-front span {
    text-align: left;
  }
}

.is-hidden {
  display: none;
}
@media screen and (min-width: 1024px) {
  .is-hidden {
    display: none !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
